Repository equinor/gordo-core: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pytest

black:
  name: Black
  description: Reformat the code with Black
  entry: poetry
  args:
  - run
  - black
  - gordo_core
  - tests
  pass_filenames: false
  language: system

pytest:
  name: Pytest
  entry: poetry
  args:
  - run
  - pytest
  - -n
  - auto
  - -m
  - not dockertest
  - gordo_core
  - tests
  pass_filenames: false
  language: system

NameError
  tests/filters/test_rows.py
Due: black, pytest

--check-untyped-defs
  mypy.ini
Due: none

Fix mypy complains
  gordo_core/data_providers/providers.py
  gordo_core/filters/periods.py
  gordo_core/time_series.py
  tests/data_providers/conftest.py
  tests/data_providers/test_base.py
  tests/filters/test_rows.py
  tests/test_dataset.py
  tests/test_import_utils.py
  tests/test_sensor_tag.py
Due: black, pytest

Update poetry up to 1.2.2. Fix mypy complains (#10)
  .github/workflows/ci.yaml
  .github/workflows/pypi.yaml
  gordo_core/data_providers/providers.py
  gordo_core/filters/periods.py
  gordo_core/time_series.py
  mypy.ini
  poetry.lock
  tests/data_providers/conftest.py
  tests/data_providers/test_base.py
  tests/filters/test_periods.py
  tests/filters/test_rows.py
  tests/test_dataset.py
  tests/test_import_utils.py
  tests/test_sensor_tag.py
Due: black, pytest

Remove unused imports
  gordo_core/time_series.py
Due: black, pytest

Remove global high-low threshold
  gordo_core/time_series.py
Due: black, pytest

Remove `GlobalExtremaEmptyDataError`
  gordo_core/exceptions.py
Due: black, pytest

Adapt tests to removal of global filtering
  tests/test_dataset.py
Due: black, pytest

Bump version
  pyproject.toml
Due: none

Fixed deprecated arg
  tests/test_fill_nans_on_series_join.py
Due: black, pytest

Fix non factorized error by adding dtype
  gordo_core/utils.py
Due: black, pytest

Run CI for fork PRs
  .github/workflows/ci.yaml
Due: none

Run CI only on main
  .github/workflows/ci.yaml
Due: none

Run CI on all PRs events
  .github/workflows/ci.yaml
Due: none

Run CI for fork PRs (#12)
  .github/workflows/ci.yaml
Due: none

0.2.1
  pyproject.toml
Due: none

0.2.1 (#13)
  pyproject.toml
Due: none

Remove global filtering (#11)
  gordo_core/exceptions.py
  gordo_core/time_series.py
  gordo_core/utils.py
  pyproject.toml
  tests/test_dataset.py
  tests/test_fill_nans_on_series_join.py
Due: black, pytest

On PR and periodic snyk scan
  .github/workflows/snyk.yaml
Due: none

Default branch name
  .github/workflows/snyk.yaml
Due: none

add xarray.Dataset support
  gordo_core/base.py
  tests/test_dataset.py
Due: black, pytest

Update packages versions to make it compatible with deltalake package
  poetry.lock
  pyproject.toml
Due: none

Fix pyarrow version
  poetry.lock
  pyproject.toml
Due: none

Bump package version
  pyproject.toml
Due: none

Update packages versions to make it compatible with deltalake package (#16)
  poetry.lock
  pyproject.toml
Due: none

Update dependencies
  poetry.lock
  pyproject.toml
Due: none

0.3.0rc0
  pyproject.toml
Due: none

Update dependencies (#17)
  poetry.lock
  pyproject.toml
Due: none

Update python to 3.10
  .github/workflows/ci.yaml
  .github/workflows/pypi.yaml
Due: none

Fix issue number python-version
  .github/workflows/ci.yaml
  .github/workflows/pypi.yaml
Due: none

Update python to 3.10 (#18)
  .github/workflows/ci.yaml
  .github/workflows/pypi.yaml
Due: none

Update developer dependencies
  .github/workflows/ci.yaml
  .github/workflows/pypi.yaml
  poetry.lock
  pyproject.toml
Due: none

Small fix in README.md
  README.md
Due: none

Update developer dependencies (#19)
  .github/workflows/ci.yaml
  .github/workflows/pypi.yaml
  README.md
  poetry.lock
  pyproject.toml
Due: none

Sphinx doc
  docs/Makefile
  docs/conf.py
  docs/index.rst
  docs/make.bat
  poetry.lock
  pyproject.toml
Due: black

overview
  docs/overview/data_preprocessing.rst
Due: none

overview
  docs/conf.py
  docs/index.rst
Due: black

examples
  docs/overview/data_preprocessing.rst
  examples/data_providers/__init__.py
  examples/data_providers/csv_provider.py
Due: black

data_preprocessing metadata
  docs/overview/data_preprocessing.rst
Due: none

examples
  examples/data_providers/csv_provider.py
Due: black

Path conditions:
  black: any of: \.py$
  pytest: any of: gordo_core/.*|tests/.*
